// Your variable overrides
$primary: #003064; // SH Blau
$primary-light: #014b99;
$secondary: #fff;

$yellow: #fdf8da; // Light-Yellow
$yellow-dark: #f8f1c6; // Light-Yellow
$red: #d4004b; // SH Rot
$red-dark: #ad013d;
$cyan: #0089ca; // SH Cyan
$green: #509500; // Used for "Drive-To" in Map-Window
$white: #fff;
$gray: #f0f0f0; // Grau
$gray-dark: #e6e6e6;  // SH Dark Grey
$background: #fcfcfc;
$gray-very-dark: #333333; // SH Very Dark Grey for Text

$info: $cyan;
$warning: #efce0d;
$warning-light: rgb(255, 227, 68);
$muted: $gray-dark;
$light: $gray;
$dark: $gray-very-dark;
